<!-- Validation failure messages -->
<% if @accomodation.errors.any? %>
  <% @accomodation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Accomodation #<%= @accomodation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_accomodation/<%= @accomodation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @accomodation.name %>">
      </div>

      <!-- Label and input for category -->
      <div class="form-group">
        <label for="category" class="control-label">
          Category
        </label>

        <input type="text" id="category" name="category" placeholder="Category" class="form-control" value="<%= @accomodation.category %>">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @accomodation.zip %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @accomodation.body %>">
      </div>

      <!-- Label and input for code -->
      <div class="form-group">
        <label for="code" class="control-label">
          Code
        </label>

        <input type="text" id="code" name="code" placeholder="Code" class="form-control" value="<%= @accomodation.code %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @accomodation.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Accomodation
      </button>
      or
      <a href="/accomodations/<%= @accomodation.id %>">Cancel</a>
    </form>
  </div>
</div>
