<div class="page-header">
  <h3>Slike #<%= @slike.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @slike.user.present? %>
          <a href="/users/<%= @slike.user_id %>">
            <%= @slike.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Song</dt>
      <dd>
        <% if @slike.song.present? %>
          <a href="/songs/<%= @slike.song_id %>">
            <%= @slike.song.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/slikes" class="btn btn-primary">
        Back
      </a>
      <a href="/slikes/<%= @slike.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_slike/<%= @slike.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
