<!-- Validation failure messages -->
<% if @acomment.errors.any? %>
  <% @acomment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Acomment #<%= @acomment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_acomment/<%= @acomment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @acomment.user_id %>">
      </div>

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :title, @acomment.activity_id), :class => "form-control") %>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @acomment.body %>">
      </div>

      <button class="btn btn-warning">
        Update Acomment
      </button>
      or
      <a href="/acomments/<%= @acomment.id %>">Cancel</a>
    </form>
  </div>
</div>
