<div class="page-header">
  <h3>Acomment #<%= @acomment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @acomment.user_id %></dd>

      <dt>Activity</dt>
      <dd>
        <% if @acomment.activity.present? %>
          <a href="/activities/<%= @acomment.activity_id %>">
            <%= @acomment.activity.title %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @acomment.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/acomments" class="btn btn-primary">
        Back
      </a>
      <a href="/acomments/<%= @acomment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_acomment/<%= @acomment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
