<div class="page-header">
  <h3>Guest #<%= @guest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @guest.user.present? %>
          <a href="/users/<%= @guest.user_id %>">
            <%= @guest.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Age group</dt>
      <dd><%= @guest.age_group %></dd>

      <dt>Food</dt>
      <dd><%= @guest.food %></dd>

      <dt>Lastname</dt>
      <dd><%= @guest.lastname %></dd>

      <dt>Firstname</dt>
      <dd><%= @guest.firstname %></dd>

      <dt>Dietary</dt>
      <dd><%= @guest.dietary %></dd>

      <dt>Image</dt>
      <dd><%= @guest.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guests" class="btn btn-primary">
        Back
      </a>
      <a href="/guests/<%= @guest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guest/<%= @guest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
