<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Name</dt>
      <dd><%= @user.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @user.bookmarks.each do |alike| %>
        <li class="list-group-item">
          <a href="/alikes/<%= alike.id %>">
            <%= alike.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/alikes/<%= alike.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/alikes/<%= alike.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_alike/<%= alike.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many guests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Guests
      </li>

      <% @user.guests.each do |guest| %>
        <li class="list-group-item">
          <a href="/guests/<%= guest.id %>">
            <%= guest.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/guests/<%= guest.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/guests/<%= guest.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_guest/<%= guest.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many slikes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Slikes
      </li>

      <% @user.slikes.each do |slike| %>
        <li class="list-group-item">
          <a href="/slikes/<%= slike.id %>">
            <%= slike.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/slikes/<%= slike.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/slikes/<%= slike.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_slike/<%= slike.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many scomments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Scomments
      </li>

      <% @user.scomments.each do |scomment| %>
        <li class="list-group-item">
          <a href="/scomments/<%= scomment.id %>">
            <%= scomment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/scomments/<%= scomment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/scomments/<%= scomment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_scomment/<%= scomment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many accomodations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Accomodations
      </li>

      <% @user.accomodations.each do |accomodation| %>
        <li class="list-group-item">
          <a href="/accomodations/<%= accomodation.id %>">
            <%= accomodation.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/accomodations/<%= accomodation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/accomodations/<%= accomodation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_accomodation/<%= accomodation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @user.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.caption %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many songs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Songs
      </li>

      <% @user.songs.each do |song| %>
        <li class="list-group-item">
          <a href="/songs/<%= song.id %>">
            <%= song.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/songs/<%= song.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/songs/<%= song.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_song/<%= song.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many activities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Activities
      </li>

      <% @user.activities.each do |activity| %>
        <li class="list-group-item">
          <a href="/activities/<%= activity.id %>">
            <%= activity.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/activities/<%= activity.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many plikes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Plikes
      </li>

      <% @user.plikes.each do |plike| %>
        <li class="list-group-item">
          <a href="/plikes/<%= plike.id %>">
            <%= plike.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/plikes/<%= plike.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/plikes/<%= plike.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_plike/<%= plike.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many pcomments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pcomments
      </li>

      <% @user.pcomments.each do |pcomment| %>
        <li class="list-group-item">
          <a href="/pcomments/<%= pcomment.id %>">
            <%= pcomment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pcomments/<%= pcomment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pcomments/<%= pcomment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pcomment/<%= pcomment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
