<div class="page-header">
  <h3>Song #<%= @song.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @song.title %></dd>

      <dt>Artist</dt>
      <dd><%= @song.artist %></dd>

      <dt>User</dt>
      <dd><%= @song.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/songs" class="btn btn-primary">
        Back
      </a>
      <a href="/songs/<%= @song.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_song/<%= @song.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Song has many slikes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Slikes
      </li>

      <% @song.slikes.each do |slike| %>
        <li class="list-group-item">
          <a href="/slikes/<%= slike.id %>">
            <%= slike.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/slikes/<%= slike.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/slikes/<%= slike.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_slike/<%= slike.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Song has many scomments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Scomments
      </li>

      <% @song.scomments.each do |scomment| %>
        <li class="list-group-item">
          <a href="/scomments/<%= scomment.id %>">
            <%= scomment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/scomments/<%= scomment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/scomments/<%= scomment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_scomment/<%= scomment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
