<div class="page-header">
  <h3>Pcomment #<%= @pcomment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @pcomment.user.present? %>
          <a href="/users/<%= @pcomment.user_id %>">
            <%= @pcomment.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Photo</dt>
      <dd>
        <% if @pcomment.photo.present? %>
          <a href="/photos/<%= @pcomment.photo_id %>">
            <%= @pcomment.photo.caption %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @pcomment.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pcomments" class="btn btn-primary">
        Back
      </a>
      <a href="/pcomments/<%= @pcomment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pcomment/<%= @pcomment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
