<div class="page-header">
  <h3>Activity #<%= @activity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @activity.title %></dd>

      <dt>Description</dt>
      <dd><%= @activity.description %></dd>

      <dt>User</dt>
      <dd><%= @activity.user_id %></dd>

      <dt>Image</dt>
      <dd><%= @activity.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/activities" class="btn btn-primary">
        Back
      </a>
      <a href="/activities/<%= @activity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_activity/<%= @activity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Activity has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @activity.bookmarks.each do |alike| %>
        <li class="list-group-item">
          <a href="/alikes/<%= alike.id %>">
            <%= alike.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/alikes/<%= alike.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/alikes/<%= alike.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_alike/<%= alike.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_alike" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for activity_id -->
      <input type="hidden" name="activity_id" value="<%= @activity.id %>">

      <button class="btn btn-block btn-success">
        Create Alike
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Activity has many acomments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Acomments
      </li>

      <% @activity.acomments.each do |acomment| %>
        <li class="list-group-item">
          <a href="/acomments/<%= acomment.id %>">
            <%= acomment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/acomments/<%= acomment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/acomments/<%= acomment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_acomment/<%= acomment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_acomment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="">
      </div>

      <!-- Label and input for activity_id -->
      <input type="hidden" name="activity_id" value="<%= @activity.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Acomment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
