<div class="page-header">
  <h3>Activity #<%= @activity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @activity.title %></dd>

      <dt>Description</dt>
      <dd><%= @activity.description %></dd>

      <dt>User</dt>
      <dd><%= @activity.user_id %></dd>

      <dt>Image</dt>
      <dd><%= @activity.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/activities" class="btn btn-primary">
        Back
      </a>
      <a href="/activities/<%= @activity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_activity/<%= @activity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Activity has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @activity.bookmarks.each do |alike| %>
        <li class="list-group-item">
          <a href="/alikes/<%= alike.id %>">
            <%= alike.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/alikes/<%= alike.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/alikes/<%= alike.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_alike/<%= alike.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Activity has many acomments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Acomments
      </li>

      <% @activity.acomments.each do |acomment| %>
        <li class="list-group-item">
          <a href="/acomments/<%= acomment.id %>">
            <%= acomment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/acomments/<%= acomment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/acomments/<%= acomment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_acomment/<%= acomment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
