<div class="page-header">
  <h1>
    Hotels
    <a href="/hotels/new" class="btn btn-lg btn-success">New Hotel</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "hotels_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
    <%= f.label :body_cont, "Body contains" %>
    <%= f.text_field :body_cont, :class => "form-control", :placeholder => "Body contains" %>
  </div>

<div class="form-group">
    <%= f.label :zip_cont, "Zip contains" %>
    <%= f.text_field :zip_cont, :class => "form-control", :placeholder => "Zip contains" %>
  </div>

<div class="form-group">
    <%= f.label :airbnb_ind_cont, "Airbnb ind contains" %>
    <%= f.text_field :airbnb_ind_cont, :class => "form-control", :placeholder => "Airbnb ind contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :hcomments_body_cont, "Hcomment body contains" %>
      <%= f.text_field :hcomments_body_cont, :class => "form-control", :placeholder => "Hcomment body contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/hotels" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#hotels_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Airbnb ind</th>
        <th>User</th>
        <th>Zip</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.airbnb_ind %></td>
        <td>
          <% if hotel.user.present? %>
            <a href="/users/<%= hotel.user.id %>">
              <%= hotel.user.email %>
            </a>
          <% end %>
        </td>
        <td><%= hotel.zip %></td>
        <td><%= hotel.body %></td>
        <td>
          <a href="/hotels/<%= hotel.id %>" class="btn btn-primary">Show</a>
          <a href="/hotels/<%= hotel.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_hotel/<%= hotel.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @hotels, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
